/* Default styles for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; /* Default text color */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.inputs {
    display: none;
}

@media screen and (max-width: 768px) {
    /* Mobile-specific styling */
    body {
        background: linear-gradient(180deg, #000, #555); /* Subtle gradient from black to gray */
        color: white; /* White text for dark mode */
    }

    .container {
        background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background to blend with the dark mode */
        box-shadow: none; /* Remove shadow for a flatter look */
    }

    button {
        background-color: #444; /* Darker button background */
    }

    button:hover {
        background-color: #666; /* Darker hover effect */
    }
}
